42CLIENT_ID=your_client_id_here
42CLIENT_SECRET=your_client_secret_here
42REDIRECT_URI=http://localhost:8000/42/callback
42FRONTEND_URL=http://localhost:3000
BASE_DOMAIN=localhost
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:8000/google/callback