DOMAIN_NAME=localhost
API_DOMAIN_NAME=api.localhost
OPS_DOMAIN_NAME=ops.localhost
COMPOSE_FILE=./deploy/compose.yml
ADMIN_EMAIL=test@example.com
ADMIN_PASSWORD=strongPassword123
USE_DATA_DIR=false
DATA_DIR=/home/user/cms-data