DOMAIN_NAME=localhost
COMPOSE_FILE = ./deploy/compose.yml
# Need to change
DATA_DIR= /home/user/cms-data

GRAFANA_USER=user

POSTGRES_AUTH_DB=auth_db
POSTGRES_AUTH_USER=auth
JWT_ALGORITHM=HS256
JWT_EXPIRATION_TIME_DAYS=7

POSTGRES_ID_DB=id_db
POSTGRES_ID_USER=id

POSTGRES_LOG_DB=log_db
POSTGRES_LOG_USER=log

POSTGRES_NOTIFICATION_DB=notification_db
POSTGRES_NOTIFICATION_USER=notification

POSTGRES_CONTENT_DB=content_db
POSTGRES_CONTENT_USER=content

POSTGRES_MEMBERSHIP_DB=membership_db
POSTGRES_MEMBERSHIP_USER=membership

POSTGRES_COMMUNITY_DB=community_db
POSTGRES_COMMUNITY_USER=community
