42REDIRECT_URI=http://localhost:8000/42/callback
FRONTEND_URL=http://localhost:3000
BASE_DOMAIN=localhost
GOOGLE_REDIRECT_URI=http://localhost:8000/google/callback
ENVIRONMENT=development
DOMAIN_NAME=localhost
42CLIENT_ID=clientId
GOOGLE_CLIENT_ID=clientId
