events {}

http
{
    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    sendfile on;
    keepalive_timeout 65;

    server
    {
        listen 80;
        server_name $DOMAIN_NAME $API_DOMAIN_NAME $OPS_DOMAIN_NAME;

        return 301 https://$host$request_uri;
    }

    server
    {
        listen 443 ssl;
        server_name $DOMAIN_NAME;

        include /etc/nginx/ssl.conf;

        location /
        {
            include /etc/nginx/proxy.conf;
            proxy_pass http://frontend/;
        }
    }

    server
    {
        listen 443 ssl;
        server_name $API_DOMAIN_NAME;

        include /etc/nginx/ssl.conf;

        error_page 404 /404.html;

        location ^~ /internal/ {
            return 404;
        }

        location /id/createUser
        {
            return 404;
        }

        location /asset/
        {
            include /etc/nginx/proxy.conf;
            proxy_pass http://asset/;
        }

        location /auth/
        {
            include /etc/nginx/proxy.conf;
            proxy_pass http://auth/;
        }

        location /id/
        {
            include /etc/nginx/proxy.conf;
            proxy_pass http://id/;
        }

        location /community/
        {
            include /etc/nginx/proxy.conf;
            proxy_pass http://community/;
        }

        location /content/
        {
            include /etc/nginx/proxy.conf;
            proxy_pass http://content/;
        }

        location /membership/
        {
            include /etc/nginx/proxy.conf;
            proxy_pass http://membership/;
        }

        location /notification/
        {
            include /etc/nginx/proxy.conf;
            proxy_pass http://notification/;
        }

        location /log/
        {
            include /etc/nginx/proxy.conf;
            proxy_pass http://log/;
        }

        location /orchestration/
        {
            include /etc/nginx/proxy.conf;
            proxy_pass http://orchestration/;
        }

        location /
        {
            return 404;
        }
        
        location /404.html
        {
            root /usr/share/nginx/html;
            internal;
        }
    }

    server
    {
        listen 443 ssl;
        server_name $OPS_DOMAIN_NAME;
    
        resolver 127.0.0.11 valid=10s ipv6=off;

        include /etc/nginx/ssl.conf;

        error_page 404 /404.html;
    
        location /monitor
        {
            include /etc/nginx/proxy.conf;
            set $grafana_upstream grafana:3000;
            proxy_pass http://$grafana_upstream;
        }
    
        location /logs
        {
            include /etc/nginx/proxy.conf;
            set $kibana_upstream kibana:5601;
            proxy_pass http://$kibana_upstream;
        }
    
        location /alerts/
        {
            include /etc/nginx/proxy.conf;
            set $alertmanager_upstream alertmanager:9093;
            proxy_pass http://$alertmanager_upstream;
        }

        location /
        {
            return 404;
        }
        
        location /404.html
        {
            root /usr/share/nginx/html;
            internal;
        }
    }
}
